#area
{
  position:relative;
  padding: 10px;
  left: 30%;
  top: 30%;
  width:400px;
  height: 270px;
}
#area #formulario
{
  position:relative;
  display:block;
}
fieldset
{
  width:500px;
  
}



legend
{
  font-style:bold;
  font-family: "Segoe UI";
}
#formulario label{
  position:absolute;
  left:24px;
  margin-right:5px;
}


#formulario input.campoNome{
  width: 100%;
  padding: 10px 30px;
  margin: 25px 2px;
  box-sizing: border-box;
  
}

#formulario input.campo_sobrenome{
  width: 100%;
  padding: 10px 30px;
  margin: 25px 2px;
  box-sizing: border-box;
}

#formulario select {
  width: 100%;
  padding: 10px 30px;
  margin: 25px 2px;
  box-sizing: border-box;
}

#formulario input.campo_telFixo{
  width: 100%;
  padding: 10px 30px;
  margin: 25px 2px;
  box-sizing: border-box;
}

#formulario input.campo_celular{
  width: 100%;
  padding: 10px 30px;
  margin: 25px 2px;
  box-sizing: border-box;
}

#formulario input.campo_id{
  width: 100%;
  padding: 10px 30px;
  margin: 25px 2px;
  box-sizing: border-box;
}

#formulario input.campo_orgao{
  width: 100%;
  padding: 10px 30px;
  margin: 25px 2px;
  box-sizing: border-box;
}

#formulario input.campo_cpf{
  width: 100%;
  padding: 10px 30px;
  margin: 25px 2px;
  box-sizing: border-box;
}

#formulario input.campo_logradouro{
  width: 100%;
  padding: 10px 30px;
  margin: 25px 2px;
  box-sizing: border-box;
}

#formulario input.campo_comp{
  width: 100%;
  padding: 10px 30px;
  margin: 25px 2px;
  box-sizing: border-box;
}

#formulario input.campo_bairro{
  width: 100%;
  padding: 10px 30px;
  margin: 25px 2px;
  box-sizing: border-box;
}

#formulario input.campo_city{
  width: 100%;
  padding: 10px 30px;
  margin: 25px 2px;
  box-sizing: border-box;
}

#formulario input.campo_uf{
  width: 100%;
  padding: 10px 30px;
  margin: 25px 2px;
  box-sizing: border-box;

}

#formulario input.campo_cep{
  width: 100%;
  padding: 10px 30px;
  margin: 25px 2px;
  box-sizing: border-box;

}

#formulario input.btn_submit
{
  border-style:dashed;
  position:absolute;
  bottom: 0.5em;
  right:10px;
}