#imagem1 {
    float: right;
    width: 87px;
    height: 87px;
}

#imagem2 {
    width: 200px;
    height: 87px;
}

#menu {
    width: 30%;
    margin: 0; padding: 0;
    float: left;
}

#menu ul li {
    margin: 0; padding: 0px;
    border-bottom: 1px solid #CCC;
    text-align: left;
    list-style-type: none;
}

#menu a:link {
    background: #F5F5F5;
    color: #666;
    font-weight: bold;
    text-decoration: none;
    padding: 8px;
    display: block;
}

#menu a:hover {
    background: #E5F0FF;
    color: #039;
}

#conteudo {
    width: 70%;
    float: right;
    text-align: center;
}